# ==========================================
# 1. 操作系统与编辑器临时文件
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================================
# 2. 仿真产物
# ==========================================
*.vcd
*.fsdb
*.wlf
*.vpd
*.log
*.txt
transcript
modelsim.ini
sim/
work/

# ==========================================
# 3. Vivado 核心进度保留
# ==========================================
# 忽略 Vivado 产生的临时日志和备份
*.jou
*.str
*.dmp
*.backup
*.webtalk*
*.debug_nets
*.usage_stats*


!*.ip_user_files/

!*.runs/
!*.hw/
!*.sim/

# ==========================================
# 4. Quartus 核心进度保留（如果你用 Intel 芯片）
# ==========================================
# 忽略增量编译的庞大缓存
incremental_db/
timing/


!db/
!output_files/